[2015-10-25 00:13] rgommers opened #1 "Only Python 3.5 wheel built, and against the wrong numpy version"
I just followed the instructions in the README (push an empty commit), and the build seems to be configured to only build on Python 3.5 right now. And it does that against the very latest numpy -``pip install --upgrade numpy`` has been added to ``.travis.yml``, which is wrong.

[2015-10-25 00:16] rgommers commented on #1
Due to 51276f8b9dd237. @matthew-brett can we revert that? And is the 3.5 build now working with some version of numpy, or should be stick to 2.7/3.3/3.4 only for now?

I've tagged 0.16.1, so I'd like to resolve this tomorrow.

[2015-10-25 08:58] rgommers commented on #1
I see 1.9.3 is the earliest numpy version with wheels for Python 3.5. So I guess we need to build against that.

I've pushed a revert in 13562a6, can always be undone again. I'll see if the 3.5 build works, but otherwise I'll just upload the 2.7/3.3/3.4 ones to PyPi and announce the release.

[2015-10-25 09:37] rgommers commented on #1
Results at https://travis-ci.org/MacPython/scipy-wheels/builds/87286625

The 3.5 build actually worked, but we see one ``RuntimeWarning`` in the tests that's converted to an error.

The 3.4 build didn't start, because the nipy server doesn't have numpy 1.9.3. Will look at what it does have.

[2015-10-25 09:47] rgommers commented on #1
It has 1.9.2, so try that. The issue with the 3.4 build is the upgrade to numpy 1.10.1 which errors on warnings. So try using 1.9.2 for that as well.

[2015-10-25 10:14] rgommers commented on #1
The 3.5 build against numpy 1.9.2 failed with a compile error. So 1.10.1 it is? Kind of tricky, because there's a numpy 1.9.3 wheel on PyPi and we don't force the use of >=1.10.1 for the scipy wheel.

[2015-10-25 21:46] matthew-brett commented on #1
I pushed an attempt to build against numpy 1.7.1 - that the NIPY server
does have, and removing the --no-index to allow pypi - maybe that helps?​

[2015-10-26 19:03] rgommers commented on #1
Interesting, that worked. I'm quite surprised that that even builds, because numpy 1.7.1 was released a couple of years before Python 3.5. It's seems Python 3.x has stabilized a lot.

Also weird then that building against numpy 1.9.2 is broken. I can have a look if I can reproduce that. But this wheel should be good to go. Thanks @matthew-brett

[2015-10-26 19:03] #1 closed

[2015-10-26 21:49] matthew-brett commented on #1
I seem to remember that most recent numpies depend on later gfortran - is that right?    Then the build will break with this gfortran which is the trusty old gcc 4.2 dual arch build.   Building with later gcc is quite a bit more involved because of changing licenses, and lack of dual-arch support, but I guess we'll have to do that in due course.

[2015-10-26 21:52] rgommers commented on #1
Right, forgot about that. If the need comes up soon, I suspect that fixing up gfortran 4.2 support in numpy is a lot easier that moving to a newer compiler. IIRC the breaking change was pretty simple.

[2017-09-17 10:09] rgommers opened #6 "master branch is way behind daily branch"
This looks completely wrong, what's going on? There's no mention in the README of the ``daily`` branch, however recent fixes went into that. The ``master`` branch misses license changes etc.

[2017-09-17 10:15] matthew-brett commented on #6
My idea was to make the daily branch one where we can put fixes for current scipy master, leaving the master branch capable of building the last release.  But then merging daily into master from time to time.  I'll do that now.

[2017-09-17 10:18] rgommers commented on #6
I guess that's a reasonable strategy, then we can more easily experiment with CI changes. It just needs documenting in big bold letters at the top of README. Including to send PRs against ``daily`` then.

[2017-09-17 10:33] rgommers commented on #6
Fixed, thanks!

[2017-09-17 10:33] #6 closed

[2017-09-17 10:38] rgommers commented on #6
I couldn't have timed this much worse:

![image](https://user-images.githubusercontent.com/98330/30520020-f42220be-9bf8-11e7-89f8-b701baa34e88.png)

Scheduled maintenance for the next 1.5 hours.

[2017-09-17 10:41] matthew-brett commented on #6
Oops.

I merged the doc update with `[skip ci]` - so I hope that won't clog.

[2017-09-17 10:42] rgommers commented on #6
It still triggered Appveyor, but that cancelled on merge - so all good.

[2017-09-17 14:05] pv commented on #6
@matthew-brett: the merge in aa59575ce7003f5827642b9e980d4b9d4486f2a2 reset BUILD_COMMIT back to v0.19.1

[2017-09-17 14:08] pv commented on #6
I canceled the Appveyor builds which were building the wrong commit, and pushed a new build commit to master.

[2017-09-17 14:13] pv commented on #6
Ah ok, no --- the issue was that Ralf changed BUILD_COMMIT to 1.0.0b1 only for travis but not for appveyor. Anyway, it should be in order now.

[2017-09-18 09:07] rgommers commented on #6
I was tired enough to not think hard anymore and just followed the instructions in README. Those only say to change ``.travis.yml``.

thanks for restarting the build

[2017-09-21 19:43] xoviat opened #10 "building vtk wheels"
@matthew-brett One popular library that isn't currently on pypi is the Visualization Toolkit (MIT license). What I propose here is creating a new repository under MacPython (you can grant me rights to that repository) that builds VTK wheels and then uploads them to pypi. The package can simply be called "VTK."

Basic process is not more complex compared to say, building scipy:
1. checkout VTK subm

[2017-09-21 19:52] matthew-brett commented on #10
There's actually been quite a lot of discussion on that with the VTK people.  Would you consider getting onto the VTK mailing list and bringing it up there?

[2017-09-21 19:57] xoviat commented on #10
Sure. I actually considered doing this unilaterally but it's better to have consensus.

[2017-09-21 19:59] matthew-brett commented on #10
I'm absolutely on for helping however I can - the problems seem to be do so with the various backends they need to support.  So I'll join in the conversation on the mailing list, if that would help.  I was in a conference call with them during Scipy about this.

[2017-09-21 20:22] xoviat commented on #10
Actually, now that I think about it, VTK takes quite a while to compile. I wonder if appveyor would be able to manage within the time limits?

@matthew-brett Do you have owner privileges on this organization? Can you create the repository?

[2017-09-21 21:36] xoviat commented on #10
Actually, the correct repository is here: https://github.com/jcfr/VTKPythonPackage

[2017-09-21 21:36] #10 closed

[2017-10-14 16:22] pv opened #19 "Change branching strategy"
I think it would make sense to change the branching strategy to match the scipy main repository:

- rename `daily -> master`, build daily builds from master
- each scipy release gets a separate `v1.0.x` branch

Then PRs automatically go to the right branch, and you don't have the issue that the build setup may change e.g. between rcX releases (which caused problems with numpy 1.13.x), or between b

[2017-10-14 16:25] pv opened #20 "Move under scipy project"
It could perhaps be more natural to have this repository under the scipy project, since it hasn't to do only with OSX, and the people who have business editing the configuration are already members of the scipy org.

[2017-10-14 16:27] matthew-brett commented on #20
Fine with me.  Only downside is that it adds to the Scipy Travis-CI queue.

[2017-10-14 16:28] matthew-brett commented on #19
Yes, that sounds like a good idea.

[2017-10-14 16:32] pv commented on #20
I think the travis issue depends on which of scipy or macpython queues is also more saturated. The latter has the daily builds of many projects, so I'm not sure if there's a big difference.

[2017-10-17 07:25] rgommers commented on #20
I think moving makes sense.

[2017-10-17 07:25] rgommers commented on #19
+1

[2017-10-25 09:23] rgommers opened #22 "Repeated timeouts for i686 on TravisCI"
@matthew-brett there are four builds for i686 that have now timed out three times in a row. Any ideas of what's going on or how to work around it?

[2017-10-25 09:24] rgommers commented on #22
End of log:
[code]

[2017-10-25 09:39] rgommers commented on #22
It's only a couple of Linux wheels, so I'm going to ignore it for now - can be fixed after uploading to PyPI and announcing the release.

[2017-10-25 09:56] matthew-brett commented on #22
It's happening on other builds too - I think it's a travis-ci problem - I've raised an issue.

[2017-10-25 13:05] matthew-brett commented on #22
See the issue - it's being investigated.  It's nothing to do with 32-bit specifically.

I've restarted the failed builds, one has already passed, two are still building.  Would you mind pushing up the wheels when they're done?  I'm about go to offline for a few hours.

Crossref: https://github.com/scipy/scipy/issues/8077

[2017-10-26 05:06] rgommers commented on #22
Thanks for uploading the remaining wheels.

[2017-10-26 05:06] #22 closed

[2017-11-04 15:30] pv commented on #19
Ok, changed branches and edited the configuration and documentation.

[2017-11-04 15:30] #19 closed

[2018-02-11 16:11] xhochy opened #25 "Update multibuild to a version that strips binaries in wheels"
On the next release, please update the multibuild submodule to matthew-brett/multibuild@b2748e5 or newer. This should reduce the size of the scipy wheels from 44M to 30M by excluding unnecessary debug symbols. Also this updates to a newer version of `auditwheel` and `patchelf` that produce wheels with binaries that are actually strippable, i.e. fixes things like https://github.com/pypa/manylinux/i

[2018-02-11 16:20] pv commented on #25
Do you want to make a PR against the master branch of this repository, if you have it already tested?

[2018-02-11 17:07] xhochy commented on #25
@pv Yes, I can do that. I just refrained from that as these repositories are not ones that are typically PR'ed to but I'll do that now.

[2018-02-20 20:19] xhochy commented on #25
https://github.com/NixOS/patchelf/pull/117 should be the commit to auditwheel that fixes the stripping problem. It is now included in the latest `manylinux1` docker image.

[2018-02-20 20:30] tkelman commented on #25
That looks like it was well over a month ago when I was last able to reproduce this. Do you have test wheels somewhere that you built with latest everything? I can try those out and see if calling strip on them again results in binaries that fail to import.

[2018-02-20 21:15] pv commented on #25
If you mean wheels produced by this repository, see README for the
links to the prerelease wheels.

[2018-02-20 22:25] tkelman commented on #25
Ah perfect. So no, https://github.com/pypa/manylinux/issues/119 is not fixed AFAICT. This was in a docker container of `amazonlinux:latest` but shouldn't be specific to that distro, I don't think:
[code]

[2018-02-21 00:04] tkelman commented on #25
Well this issue is fixed. It removes the need to strip after downloading because it does it for you as part of the wheel-building process. But if you happen to try to strip after downloading, it'll still break things - but that's probably the patchelf fix being incomplete. Maybe something like https://github.com/NixOS/patchelf/pull/127 is worth testing, though that would require building a test co

[2018-02-21 00:09] pv commented on #25
Yes #26 and https://github.com/matthew-brett/multibuild/pull/140 added flags to strip binaries on build, but I guess for auditwheel we have whatever is in the current pypa manylinux docker image.

[2018-02-21 00:45] charris commented on #25
The NumPy 1.14.1 release wheels are now up on PyPI and built with the latest recommended multibuild if someone wants to take a look.

[2018-02-21 00:53] charris commented on #25
The manylinux1 wheels for 1.14.1 are about 4MB smaller than the 1.14.0 release, so something has been stripped.

[2018-02-21 00:58] tkelman commented on #25
I was able to get https://github.com/pypa/manylinux/issues/119 to happen on scipy or h5py post-stripping, but never with numpy IIRC.

[2018-03-24 04:47] rgommers opened #27 "1.0.x broken on macOS"
See https://travis-ci.org/MacPython/scipy-wheels/builds/357678450, ends repeatably with `sudo: pip: command not found`. Looks like `multibuild` was updated for various macOS issues, so looks like the right fix is to update to latest `multibuild` also on the `1.0.x` branch. Opening this issue to ask if anyone sees an issue with that.

[2018-03-24 05:28] rgommers commented on #27
Okay, gave that a try in 170955c

[2018-03-24 05:49] rgommers commented on #27
Great, those builds errored after 5 minutes and TravisCI is not showing the full build log even with "raw log". That needs reverting (tomorrow), guess we'll try and cherry-pick the relevant macOS fixes. Not sure how well that works with a git submodule - is it a good idea to just add some commits directly to a submodule??

[2018-03-24 12:14] pv commented on #27
I think it's not possible to add commits to a submodule, it always has to refer to a commit available on upstream.

[2018-03-24 12:38] matthew-brett commented on #27
I will try and fix this up later today.

On Sat, 24 Mar 2018 12:14 PM Pauli Virtanen, <notifications@github.com>
wrote:

[2018-03-24 12:46] pv commented on #27
Note that the new travis builds were terminated with an exclamation mark, not x --- I restarted the build in case this is just intermittent failure.

[2018-03-24 12:54] pv commented on #27
Nope, still fails. Pushed a commit into v1.0.x that makes it use the same multibuild version as the weekly master branch builds, which seemed to be in working order.

[2018-03-24 14:51] pv commented on #27
Travis build seems to pass OK with that version of multibuild.

[2018-03-24 18:48] rgommers commented on #27
Ah I updated to `multibuild/master` while `multibuild/devel` is the one that worked. Thanks Pauli.

@matthew-brett would be useful to fast-forward `master` to `devel` perhaps?

[2018-03-24 18:48] #27 closed

[2018-03-24 18:53] matthew-brett commented on #27
Multibuild master is nearly the same as multibuild devel though - just a few tiny differences.   The version of multibuild in the scipy-wheels / master branch is a fair bit behind.  I'm just trying to work out where the damage comes from :

* https://github.com/matthew-brett/scipy-wheels/tree/mb-1.0.x-testing

[2018-03-25 12:40] matthew-brett commented on #27
Now building correctly on multibuild master - so not sure what the problem was:  https://travis-ci.org/matthew-brett/scipy-wheels/builds/357931159 - maybe https://www.traviscistatus.com/incidents/n0f1kmm5k4x5

[2018-03-25 12:44] matthew-brett commented on #27
Aha - sorry - there is a bug in the `suppress` macro - but the libwebp and szip builds are failing - search the log for `tar: Unrecognized archive format`

[2018-03-27 17:04] tkelman commented on #25
It doesn't look like the 1.0.1 linux wheels were stripped. How can we ensure https://github.com/matthew-brett/multibuild/pull/140 is included when the next scipy release wheels get built?

[2018-03-27 18:26] pv commented on #25
It may have been intentional that bugfix releases don't change the build config unless needed.

[2018-03-27 20:17] matthew-brett commented on #25
I think this happened with https://github.com/MacPython/scipy-wheels/issues/27

[2018-03-27 20:55] tkelman commented on #25
The manylinux wheels for https://pypi.python.org/pypi/scipy/1.0.1#downloads look to be the same size as https://pypi.python.org/pypi/scipy/1.0.0#downloads, so not yet. If it'll be in 1.1.0, and that's somewhere less than a year away, guess that's good enough for now.

[2018-03-27 21:09] pv commented on #25
@matthew-brett: the 1.0.x releases come from the v1.0.x branch, stripping debug symbols is only on the master branch. Bugfix builds use the same build config as the initial release (in order to avoid issues such as those seen with numpy). Granted, this does not guarantee fully reproducible environment, as configuration may change on the Travis-CI side as seen in #27.

[2018-03-27 21:22] matthew-brett commented on #25
Yes, sure, I should have been more specific what I meant.  In #27 we see Ralf tried updating to multibuild master in the 1.0.x branch, but it broke because Travis-CI was coincidentally not working - and then you took us back to an earlier multibuild version, that was working for the daily builds, but did not include the commits implementing stripping.

In general it should be safe to upgrade multi

[2018-04-14 15:16] pv opened #28 "Does pip build isolation break manylinux builds?"
@matthew-brett: pip 10 was released today and it adds support for `pyproject.toml`.

This makes pip commands, including `pip wheel`, to setup a build environment with e.g. numpy versions specified in `pyproject.toml`.

What does this imply for multibuild?

The scipy-wheels windows builds are unaffected since they do `python setup.py bdist_wheel`.

Is there a way to force multibuild to use `setup.p

[2018-04-14 15:16] pv commented on #28
Of course, these things drop by immediately when you promised the release is due :)

[2018-04-14 15:42] matthew-brett commented on #28
Yes, we can force multibuild to use use `python setup.py bdist_wheel`, by using `build_bdist_wheel` instead of `build_wheel` in `.travis.yml`.  But - does pip's behavior change if there is no `pyproject.toml`?

[2018-04-14 15:49] charris commented on #28
The NumPy daily build failed this morning, I was wondering if it something was pip related. The error is
[code]

[2018-04-14 15:51] matthew-brett commented on #28
Aha - no - that's multibuild using the pip API, which has been removed in the latest release.  I'll look into it.

[2018-04-14 15:52] pv commented on #28
Removing `pyproject.toml` afaik fully disables the feature, so I think this is not blocking scipy 1.1.0.

[2018-04-14 15:58] pv commented on #28
The pep425tags issue however is blocking...

[2018-04-14 17:15] matthew-brett commented on #28
I've put in a fix to multibuild devel, and I've update numpy-wheels to that commit, but it's waiting on the new scipy-wheels build.

[2018-04-14 18:49] charris commented on #28
Works on Mac, fails on linux, but different error.

[2018-04-14 19:00] pv commented on #28
For 1.1.x I'll pin pip==9.0.3 to get the linux/osx builds going.

[2018-04-17 14:01] LouisAmon opened #29 "OpenBLAS ends up being bundled twice"
Numpy & Scipy both bundle `openblas` during the multibuild dynamic dependency resolution.

Since `numpy` is a direct dependency, wouldn't it be better to only have `libopenblas.so` included in `numpy` and have `scipy` symlink it ?

The duplicate file is causing 37MB extra weight.

Sample code:
[code]

[2018-04-17 14:05] pv commented on #29
It's on purpose. There's no guarantee the installed Numpy packages is
the manylinux one.

[2018-04-17 14:40] LouisAmon commented on #29
I see.

So no way to shed any weight here either. Well it was worth a shot.

Thanks @pv

[2018-04-17 14:40] #29 closed

[2018-04-17 14:48] pv commented on #29
One suggestion I remember from earlier discussions is uploading a
package called e.g. "manylinux-openblas" on Pypi that contains only the
manylinux1 openblas binaries, on which packages that need it could
depend on. I don't recall if there were some reasons why this wouldn't
work. However, it would require someone to volunteer to coordinate,
implement and maintain it.

[2018-04-17 15:40] rgommers commented on #29
@pv I think that would work fine, but I'd say it's not worth the maintenance effort. If people really want that kind of stuff, they should use `conda` rather than hacking `wheel` for things it wasn't designed for.

[2018-04-17 19:56] njsmith commented on #29
It's totally possible to ship a standalone `openblas` wheel that numpy and scipy could depend on, and I think would have some advantages. There's an early proposal here: https://mail.python.org/pipermail/wheel-builders/2016-April/000090.html

It turns out to be more complicated than I originally anticipated because of differences in how different platforms handle dynamic library lookup. I did even

[2018-04-18 05:09] rgommers commented on #29
If you have to be very concerned about size, like when using AWS Lambda, then you're better off using  https://github.com/ryansb/sklearn-build-lambda or similar. Then you'll get minimum size (and if it's not enough, you can easily strip docs/tests for another big gain), can build other stuff for the very minimal Amazon Linux version that powers Lambda, and the approach scales to scikit-learn and o

[2018-04-29 15:49] #28 closed

[2018-04-29 16:03] pv commented on #25
It seems the wheel for 1.1.x, which does include the multibuild changes, are still not really stripped:
[code]

[2018-04-29 17:07] pv commented on #25
Sorry for the noise, I now see I was looking at *1.0.1* not *1.1.0* files...

[2018-04-29 17:07] #25 closed

[2018-05-04 19:41] pv opened #30 "Fortran shared libraries not stripped"
gh-26 added stripping flags to FFLAGS, but it appears the so files linked by gfortran in manylinux wheels aren't actually stripped.

[2018-05-06 18:46] #30 closed

[2018-09-01 21:26] pv opened #35 "Windows builds do not work with Python 3.7"
Currently at master there are build failures:
https://ci.appveyor.com/project/scipy/scipy-wheels/build/1.0.148/job/425egmyivrpdahd5

It fails at
[code]
Of course, this version of Numpy is not pip installable from sources. <s>But why does it not use PyPi wheels available https://pypi.org/project/numpy/1.13.1/#files</s>
Probably these builds should use numpy test version that has wheels on pypi for

[2018-09-01 21:28] pv commented on #35
Ok, I see this failure occurs only for Python 3.7.

[2018-09-01 21:33] pv commented on #35
... and also for 64-bit https://ci.appveyor.com/project/scipy/scipy-wheels/build/1.0.143/job/2ioa15qpujgw4e8k

[2018-09-02 21:30] #35 closed

[2019-10-09 18:42] mattip opened #49 "Creating 3.8.0rc1 wheels"
multibuild and manylinux should now work with 3.8.0rc1, see MacPython/numpy-wheels#64 and MacPython/numpy-wheels#62. It is important to update multibuild to the HEAD of the latest `devel` branch.

I am not sure if scipy wants to try this now, 3.8 final is supposed to come out in a week or so.

[2019-10-09 21:20] tylerjereddy commented on #49
Thanks Matti -- I'm just resurfacing after resubmitting the SciPy paper & working on grant stuff. Hopefully I can look into this soon. I have been watching what you & Chuck have been doing from a distance..

[2019-10-28 03:38] tylerjereddy opened #53 "TestBinnedStatistic.test_dd_zero_dedges failing on master branch wheel builds"
A single test failure appears to be plaguing many of the master branch SciPy wheel builds on Appveyor & Travis:

[code]

[2019-10-28 03:40] tylerjereddy commented on #49
@charris @mattip Is 3.8 working pretty well with NumPy wheels these days? I'll try to look through the links above soon-ish as we try to get `1.3.2` out on our end.

[2019-10-28 06:59] mattip commented on #49
It should just work. You might want to change the 3.8-dev travis job to 3.8, I see [travis supports it](https://docs.travis-ci.com/user/languages/python/#specifying-python-versions). In scipy-wheels, you should update the multibuild subrepo to the `devel` branch HEAD and copy the 3.8 specs from the numpy-wheels repo.

[2019-11-17 15:09] pv opened #57 "Fix msvcp140.dll copying to match Numpy distutils"
The location of DLL files was changed from `scipy\extra-dll` to `scipy\.libs` in #55 when the pinned numpy distutils version was bumped.

The commands that bundle in the `msvcp140.dll` in `appveyor.yml` should be updated to match the new location (you can see the issue by checking `unzip -l scipy-1.3.2-cp37-cp37m-win_amd64.whl|grep dll`). This also applies to the 1.3.x branch.

[2019-11-17 18:09] tylerjereddy commented on #57
Is "all bundled DLLs should be in the same path" a suitable proxy check for the issue here then?

Just thinking it may be helpful if we have an executable check in place so this doesn't happen silently again. That `unzip` command example output might be parsed for a common file path programmatically for example?

[2019-11-17 18:19] pv commented on #57
That's probably the easiest check. It can be done on the installed
package similarly as check_license.py (easier to deal with than zip
files).

Maybe `check_license.py` could be renamed to
`check_installed_package.py` to collect this type of checks to a single
place.

[2019-11-20 15:16] #57 closed

[2019-11-20 15:24] tylerjereddy commented on #53
This should be resolved now, haven't observed in recent wheels master branch CI work.

[2019-11-20 15:24] #53 closed

[2019-11-20 15:25] tylerjereddy commented on #49
I think we're in better shape for basic Python 3.8 support now, so I'll close this. Will likely do a 1.3.3 release to deal with some DLL issues that snuck through on Windows, time permitting with 1.4.x in the pipeline.

[2019-11-20 15:25] #49 closed

[2020-05-10 22:21] tylerjereddy opened #72 "OpenBLAS usage with Travis"
I believe our wheel builds on Travis may be using some of the upstream submodule (multibuild) code to do some of the OpenBLAS handling.

I think we want to move to the `openblas_support.py` infrastructure for Travis as we just did for Appveyor.

This looks a bit less trivial for Travis though, since we depend on some upstream code here. Maybe not too bad though--what did you do for NumPy @mattip @

[2020-05-11 05:31] mattip commented on #72
numpy-wheels has used [a function in config.sh](https://github.com/MacPython/numpy-wheels/blob/master/config.sh#L20) to set up openblas for a while now (via `openblas_support.py`) on multibuild. It is called by `build_wheel` in the same file which also installs `libgfortran`.

numpy-wheels also uses [a rename function](https://github.com/MacPython/numpy-wheels/blob/master/extra_functions.sh#L34) f

[2020-05-15 13:40] tylerjereddy opened #76 "Appveyor staging uploads not working yet"
Although all the appveyor builds pass on merge, and do appear to authenticate the Anaconda.org API appropriately:

[code]

I don't see any report of an upload in the log and no evidence of an artifact on the multibuild storage site.

It seems likely that this is because `"%APPVEYOR_BUILD_FOLDER%/wheelhouse/*.whl"` is not the appropriate path containing the wheel files.

[2020-05-15 14:17] tylerjereddy opened #77 "MAINT: Timestamp nightly wheel filenames"
Based on discussion with @mattip in #74, downstream projects using `pip` to pull in our wheels from the nightly (weekly) anaconda.org repo appear to need dates stamped right into filenames, presumably because `pip` is not scraping timestamp metadata  directly from the uploaded files.

So it just kind of arbitrarily sorts by hash alphanumerically, which is bad.

While I'd prefer if there were a sim

[2020-05-16 21:26] #76 closed

[2020-05-19 20:09] #72 closed

[2020-05-19 20:11] tylerjereddy opened #80 "MAINT: check OpenBLAS versions used"
Now that https://github.com/MacPython/scipy-wheels/pull/79 has been merged, I should download and spot-check the OpenBLAS version used for a few of the wheels to make sure it is at `v0.3.9` using `openblas_support.py` version checking machinery (only works for POSIX builds).

[2020-05-19 20:12] tylerjereddy commented on #80
Have to wait for the master branch/merge build to complete/upload.

[2020-05-19 20:14] tylerjereddy opened #81 "MAINT: auto-check OpenBLAS version in Travis CI"
As noted after merging #79

[2020-05-19 20:17] tylerjereddy opened #82 "DOC: README updates for rackspace->conda.org"
The `README` will need a substantial update to account for using `anaconda.org` for asset staging instead of rackspace sites.

[2020-05-22 02:39] tylerjereddy commented on #80
CI was all green on the master branch merge and wheels were uploaded to the `anaconda.org` staging area for both Travis (Linux/Mac) & Appveyor/Windows.

I installed the `scipy-1.5.0.dev0+01c65a7-cp37-cp37m-manylinux1_x86_64.whl` wheel locally after removing all local installs of SciPy and confirmed:

[code]

[2020-05-22 02:39] #80 closed

[2020-05-26 22:00] bashtage commented on #77
I don't think you have to timestamp.  You could also use the structure

[code]

[2020-05-31 19:24] tylerjereddy commented on #77
Following the merging of the cross-linked PR above--I should check mid-weed after the Tuesday "nightly" upload to see if the wheels are properly named for downstream `pip` download purposes.

[2020-06-07 20:59] pv opened #85 "Upgrade numpy/f2py in the builds separately?"
We might want to consider using a newer f2py version for building Scipy, than what is provided by the version of Numpy we are using for ABI compatibility. How to do this would be similar to what was done with `numpy-distutils` in the Windows builds.

Why to do this would be to take advantage of f2py bugfixes (eg. https://github.com/numpy/numpy/pull/16519) that may be beneficial to have.

[2020-06-07 23:20] tylerjereddy commented on #77
The timestamping appears to have worked as intended for the weekly uploads last Tuesday: https://anaconda.org/scipy-wheels-nightly/scipy/files

I've also manually purged the older weekly wheel uploads, with incorrect file naming, to prevent interference with automated downloads from downstream projects using `pip` in CI, etc.

So, I'll close this issue. @bashtage -- feel free to open an issue/ping

[2020-06-07 23:20] #77 closed

[2020-06-08 07:34] #82 closed

[2020-06-26 21:14] rth opened #87 "Add pypy wheels"
It would be nice if PyPy wheels could be build for scipy. This was recently done for numpy in https://github.com/MacPython/numpy-wheels/pull/74 by @mattip

Because scipy takes quite a while to build from sources for downstream packages building wheels e.g. with [cibuildwheel](https://github.com/joerick/cibuildwheel) (which includes pypy by default) that would also save a lot of compilation time.

[2020-06-26 23:31] tylerjereddy commented on #87
Interesting. We had PyPy builds in our (SciPy) regular CI for a while, although they were a regular source of maintenance burden and eventually removed. Even for NumPy, I believe that PyPy in regular CI requires a bit of Matti's expertise to keep "green."

Not saying it won't happen--just providing the brief context on where we are with PyPy at the moment. I suspect adding back to our main repo CI

[2020-07-01 12:07] pv commented on #87
A Pypy dev has a repo building Pypy wheels for a number of packages here: https://github.com/antocuni/pypy-wheels

[2020-07-29 19:34] janaknat opened #92 "Add support for aarch64 wheels"
Travis-CI publicly announced Graviton 2 support (https://blog.travis-ci.com/AWS-Graviton-2-support-comes-to-Travis-CI)

The tag needed to run builds on a travis-ci graviton2 system is:

    - os: linux
      arch: arm64-graviton2
      dist: local
      virt: lxd
      group: edge

Graviton2 support is in **very early stages**, there are limitations and everything runs in an lxd container. This is

[2020-07-30 02:52] tylerjereddy commented on #92
This is really cool stuff--I'm pretty sure there is long-term interest in support ARM wheels yes. For example, they are included in the PEP 599 manylinux 2014 description, and I believe NumPy may have experimental support now?

I'm sure there is a simple reason, but what is the advantage of choosing `arm64-graviton2` as you mention vs. plain `arm64` architecture selected for Travis in the SciPy ma

[2020-07-30 05:26] mattip commented on #92
You may want to take a look at [odidev's fork](https://github.com/odidev/scipy-wheels/commits/master) where @odidev has been trying to overcome the timeouts on arm64. It seems splitting the job into build and test helped, there are just a few [test failures](https://travis-ci.com/github/odidev/scipy-wheels/jobs/366318749#L1041) left.

[2020-07-30 17:50] janaknat commented on #92
@tylerjereddy The build times when using the arm64-graviton2 is significantly lesser when compared to arm64. This should help out in avoiding the timeouts with arm64. When building scikit-learn, for example, my build times were almost cut in half with arm64-graviton2. Just need to figure out why the pytests are taking longer on ARM.
@mattip I'll take a look at odidev's fork to fix the timeout caus

[2020-08-12 15:44] janaknat commented on #92
Looking at the discussion in https://github.com/scipy/scipy/issues/11170, it looks like odidev has a PR prepped for this.

@mattip I noticed that when scipy is building its wheel, numpy also goes through the same process. Numpy has wheels for the latest version (v1.19.1). Are there any plans to release wheels for older versions which other projects depend on (scipy-wheels depends on v1.14.5 & 1.17

[2020-08-12 15:52] mattip commented on #92
No, there are no plans for NumPy to build older wheels. Isn't there a way to cache them here?

[2020-08-12 19:15] janaknat commented on #92
Ok. I'm not aware of the way to cache wheels. I know the wheel created lives in the wheelhouse. Numpy gets built once during the build phase and once again during the test phase.

@tylerjereddy are y'all open to moving to the latest numpy as a dependency?

[2020-08-12 23:03] rgommers commented on #92
No, but that's not needed either. Adding aarch64 SciPy wheels on PyPI that have `install_requires=['numpy>=1.19.1'], but leaving sdists and other wheels alone should be fine.

[2020-08-12 23:04] rgommers commented on #92
Or actually, that's not even needed. By default pip will pick up the latest version of NumPy, which does have wheels. So nothing to do here.

[2020-08-13 05:22] mattip commented on #92
If the SciPy maintainers agree to use a later version for ARM64,  you can tell multibuild to use it via [`NP_BUILD_DEP` and `NP_TEST_DEP`](https://github.com/MacPython/scipy-wheels/blob/master/.travis.yml#L86).

[2020-08-13 21:35] geoffreyblake commented on #92
@janaknat have you tested if pip will pick up the latest numpy wheels for scipy to confirm that nothing is needed here?

[2020-08-13 23:29] janaknat commented on #92
@geoffreyblake When I ran the scipy-wheels travis job, the numpy wheel is always built. NP_BUILD_DEP is set to numpy==1.14.5 for python 3.6, 3.7 and numpy==1.17.3 for python 3.8. For aarch64, numpy wheels exists only for 1.19.1. I don't see the latest numpy being picked up by pip.

[2020-08-14 02:35] tylerjereddy commented on #92
See also #93.

Perhaps the assumption on always using the latest NumPy with `pip` is based on build isolation, which maybe is not being used in some of the cases observed? I suspect Ralf is referring to `pyproject.toml` + PEP 518 stuff, instead of the `--no-build-isolation` bypass to use what is in the env, though I could be wrong.

Presumably for ARM, the support range is so narrow we don't have

[2020-10-02 01:59] tylerjereddy opened #96 "MAINT: add Travis CI job names to improve CI summary a bit"
Matti describes this improvement here: https://github.com/MacPython/scipy-wheels/pull/95#issuecomment-701911894

[2020-10-03 17:41] #96 closed

[2020-10-18 21:06] tylerjereddy commented on #92
I'll close this since SciPy `1.5.3` is out with support for Linux ARM64 wheels (Python 3.6, 3.7, 3.8).

If issues show up with those wheels, or for other things like upcoming MacOS ARM binaries, let's open separate issues for that.

[2020-10-18 21:06] #92 closed

[2020-11-15 20:35] h-vetinari commented on #20
Agreed that moving makes sense (just had to look up how something is built), finding it under `MacPython` on github is counter-intuitive.

[2020-11-21 23:38] tylerjereddy opened #106 "MAINT: move off Travis CI"
If we exceed our Travis CI quota before 1.6.0 is released, we could be in a bit of trouble for getting wheels out in a timely fashion.

See: https://github.com/scipy/scipy/issues/13109

Also, for some of the more exotic platforms like ARM we'd probably need to migrate to more than just 1 other service.

[2020-11-25 18:31] muizzk commented on #106
Hello folks, please note that I have added additional credits to this project as directed. Thank you

cc: @pauladamgordon

[2020-11-25 18:33] rgommers commented on #106
That's great, thank you @muizzk

[2020-11-25 18:36] tylerjereddy commented on #106
should we disable our Tuesday cron jobs for now?

[2020-11-25 18:36] rgommers commented on #106
I'm not a MacPython admin I think. @matthew-brett can you see these credits and check how many runs we can approximately do?

makes sense, only PRs for now

[2020-11-25 19:39] mattip commented on #106
@muizzk how can we check our credits?

[2020-11-25 19:39] mattip commented on #106
I think it should be somewhere on https://travis-ci.com/github/MacPython/scipy-wheels/settings, but I don't see it there.

[2020-11-25 22:54] janaknat commented on #106
@mattip The admin can see the credits at https://travis-ci.com/account/plan

[2020-11-25 23:02] mattip commented on #106
Nope, I don't see the credits there. I only see the options to choose one of the plans.

[2020-11-25 23:03] rgommers commented on #106
@mattip the right link may be https://travis-ci.com/organizations/macpython/plan

[2020-11-25 23:05] charris commented on #106
387,410 credits remaining, they gave us 400,000.

[2020-11-25 23:06] mattip commented on #106
Yup -- https://travis-ci.com/organizations/MacPython/plan. So that must be for all the macpython builders:
h5py-wheels
matplotlib-wheels
numpy-wheels
openblas-libs
pandas-wheels
scipy-wheels
statsmodels-wheels

[2020-11-25 23:07] rgommers commented on #106
That's nice. We may want to disable daily cron jobs if there are any. With just PRs and weekly jobs, that should last a while.

[2020-11-25 23:09] tylerjereddy commented on #106
I deleted the Travis cron for SciPy side of things at least

[2020-11-25 23:13] mattip commented on #106
If I understand correctly, MacPython has already used 157,590 of the 510,000 credits we were given today (Nov 26), leaving 352,410. According to https://travis-ci.com/github/MacPython, that is the result of one run of scipy-wheels and one run of pandas-wheels.

[2020-11-25 23:16] rgommers commented on #106
That doesn't sound right, 10K credits should be 1000 build minutes on Linux.

[2020-11-26 05:53] mattip commented on #106
The [matplotlib-wheels build that ran a little while ago](https://travis-ci.com/github/MacPython/matplotlib-wheels/builds/204566949) drove down the credits to by 2320 to 350090. It ran for 43 minutes on x86 linux, 53 minutes on arm64, and 25 minutes on macOSx. I will continue to try to track this over the next day or two.

[2020-11-26 12:26] rgommers commented on #106
macOS is 5x more expensive in credits than Linux, so that sounds about right. ~2000-2500 credits/build is what I calculated for SciPy as well. So 400K credits is ~175 builds, split over 7 projects for MacPython - meaning we've got roughly 25 builds per project left. Enough to get the next releases out the door and last a few months, if we make sure cron jobs don't run more than once a week I'd say

[2020-11-29 08:18] mattip commented on #106
There are projects running daily or more builds. We now are on 311,290 credits, down ~40,000 from the last check. At this rate we will run out of credits very soon. This includes:
- a run of numpy-wheels for ~70 minutes on arm64 (seems about as minimal as possible: one run a week on arm64)
- a [run of statsmodels-wheels](https://travis-ci.com/github/MacPython/statsmodels-wheels) for ~160min on x86

[2020-11-29 14:08] simonjayhawkins commented on #106
Matti,

Have removed the Travis cron job as wheels weren't being built anyway,
https://github.com/MacPython/pandas-wheels/issues/102

There probably won't be many more pushes (if any) in prep for the release.
Was just tidying and testing and didn't realize there were usage limits.
Could maybe turn off Travis for pull requests and only enable when changes
are specifically targeted at the arm builds

[2020-12-02 22:47] mattip commented on #106
We have burned through another 100,000 credits and our balance now stands on 198,370. In the past 4 days [we had](https://travis-ci.com/github/MacPython/):
- a run of numpy-wheels on arm64 for about 60 minutes.
- a weekly cron job run of matplotlib-wheels.

I am not sure what is going on with the credits, maybe the macpython account is a joint one with other projects? In any case, we may run out o

[2020-12-03 00:25] rgommers commented on #106
The "Insights" tab helps give an overview:

<img width="766" alt="image" src="https://user-images.githubusercontent.com/98330/100947576-30d0d380-3506-11eb-93e8-61eb17c8e34c.png">

Perhaps your check was before those pandas builds were turned off. If so, that still doesn't quite add up to 100,000 though.

[2020-12-28 00:20] tylerjereddy opened #109 "DOC: add azure link to README"
Now that we're using Azure Pipelines for many of the wheels builds we should update the `README` with a link to that resource to go along with the links to Appveyor and Travis runs. This is low priority though, and probably not worth flushing CI with for now.

[2021-02-16 19:55] tylerjereddy opened #112 "MAINT: wheel upload failures"
cc @rgommers @mattip

I think we've adopted the NumPy infrastructure on Azure for the most part, but perhaps it is more common for us to have to upload the same-name wheel to the "staging area" than for NumPy; perhaps we should consider adding `--force` since these are for staging only anyway?

[code]

[2021-02-16 19:57] tylerjereddy commented on #112
To clarify the workflow is:
- try to build wheels for a new release; some of them succeed/others fail
- backports patch(es); try again--wheels that succeeded in original matrix now fail because same name wheels previously uploaded

[2021-02-17 06:52] #112 closed

[2021-02-26 20:14] djhoese opened #114 "Version mismatch causes pip warning and no install"
In my CI build I have:

[code]

which produces the following:

[code]

So the other deps are installed but scipy seems to have a version mismatch which causes pip to never install the unstable version. I've also tried `--index-url` instead of `--extra-index-url` but the same result. Any ideas?

See https://github.com/corteva/rioxarray/pull/257 and https://github.com/pytroll/satpy/pull/1578

CC @sn

[2021-02-27 09:53] rgommers commented on #114
Looks like that's the same issue as https://github.com/scipy/scipy/issues/13196 and/or https://github.com/scipy/scipy/issues/13609. Using pip's legacy resolver is a workaround.

The fix was merged 2 days ago, so I hope the next wheel is fine. If not, we may be building with a numpy version that's still problematic.

[2021-02-28 23:13] keewis commented on #114
this looks more like scipy/scipy#13540: the upload for py38 64bit manylinux fails because of a failing test. Using the legacy resolver (or `pip=20.2`) works but the installed wheel is from Jan 10.

[2021-03-21 23:04] tylerjereddy opened #115 "BUG: CI upload failures observed for SciPy 1.6.2 wheel builds"
@ogrisel @rgommers @mattip This is showing up for Travis and Appveyor but not Azure as far as I can tell.

Maybe we're getting burned for using bleeding-edge `pip install git+https` for the client, which in turn depends on something unreleased now?

Travis build: https://travis-ci.com/github/MacPython/scipy-wheels/builds/220750268
Appveyor build: https://ci.appveyor.com/project/scipy/scipy-wheels/

[2021-03-21 23:05] tylerjereddy commented on #115
Maybe the `anaconda-client` version we need is available as a stable release now?

[2021-03-22 08:38] rgommers commented on #115
`anaconda-client` hasn't been released to PyPI for years, and `anaconda-project` is not on PyPI at all. Looks like we should pick the latest stable `anaconda-client` release from GitHub, and if that recently added an `anaconda-project` dependency, install it from GitHub too - or pick the latest `anaconda-client` that does not have that dependency.

[2021-03-24 02:06] tylerjereddy commented on #115
Looks like it was a recent `requirements.txt` addition--I'll try pinning to the commit hash before that change for a first pass (see commit cross-listed above).

[2021-04-11 15:28] #115 closed

[2021-04-11 18:48] keewis commented on #114
Even though that's correct for the initial issue, it looks like upgrading to `py39` does not fix this:
[code]
which means that even versions with the fix (in this case the one from 2021-03-07) are not installable with newer versions of `pip` (the output above is for `pip=21.0.1`).

[2021-04-11 18:58] rgommers commented on #114
Looks like we should adopt the same nightly wheel naming scheme as numpy. Compare from https://anaconda.org/scipy-wheels-nightly/numpy/files:
[code]
to those from https://anaconda.org/scipy-wheels-nightly/scipy/files:
[code]
The item right after `.dev0+` is regularly incrementing, so `pip` is able to find the latest wheel.

We should just make this change with relying on `versioneer` like numpy di

[2021-04-11 20:05] charris commented on #114
Two things to watch out for using versioneer:

- Make sure the old version macros are defined to maintain CI compatibility with least effort.
  That also means updating the old version.py file (make it static) to use the new `_version.py` file.
- I had to patch versioneer so dirty was not part of the name. That was because the license
  files were added without a commit.
- You will need to tag the

[2021-04-11 20:15] rgommers commented on #114
Sorry, I meant _without_ relying on versioneer. I think it's a terrible and way over-engineering piece of code.

[2021-04-11 20:18] keewis commented on #114
it does come with its own set of issues but I think `setuptools_scm` might be a bit easier to use.

[2021-04-11 20:23] charris commented on #114
You could do a pretty good job just using `git describe`, but it needs the tag for the start.  You would still need to fix the fetch depth for travis.

[2021-04-11 20:27] rgommers commented on #114
Definitely not touching that, that's even worse:) it's also responsible for still not having a sane `pip install .` that doesn't copy the whole world.

Exactly. The task is to append a simple incrementing integer to a version number. Should be possible to do with 20 lines of code, not with 2000 lines of code that then generate another 500 lines of code _and_ impose extra requirements on git being

[2021-04-11 20:44] charris commented on #114
If you don't care about the starting point of the count...
[code]
There  `10973-g1bf7485cb` would work. The `--tags` flag is needed because there are no annotated tags reachable from the tip of the scipy master branch. A single incrementing number could be tricky if you would like it to have reasonable tracking of the repository. Versioneer will produce slightly different tags if a commit is made

[2021-04-11 21:40] djhoese commented on #114
@rgommers if you're talking about what I think you're talking about, there is a hack around that:

[code]

[2021-04-12 14:06] #109 closed

[2021-04-18 17:30] #114 closed

[2021-04-18 17:34] rgommers commented on #114
Just merged the fix - wheels should appear within a few hours.

[2021-04-18 20:14] rgommers commented on #114
New wheels are up, and this works. However, the newest wheel is not the first one picked. I have asked for admin access to the bucket, but don't have it yet. @mattip or @charris, if you have admin access to https://anaconda.org/scipy-wheels-nightly/scipy/files, could you delete all nightlies for 1.7.0 and 1.6.0 from before today?

[2021-04-18 20:17] djhoese commented on #114
@rgommers Thanks! I was just about to comment about this. Both my CI and local environments don't pick up the new wheels.

[2021-04-18 20:25] mattip commented on #114
@rgommers I granted you owner access to the relevant anaconda.org groups.

[2021-04-18 20:37] rgommers commented on #114
Thanks @mattip.

Fixed now, only recent wheels are left.

[2021-04-18 21:39] djhoese commented on #114
Confirmed. My CI now grabs the new wheels:

[code]

[2021-06-02 17:16] tylerjereddy opened #120 "MAINT, BLD: Appveyor wheel builds need boost"
All Appveyor wheel builds currently fail because:

[code]

Sample logs for `1.7.0rc1` wheel build attempts:

https://ci.appveyor.com/project/scipy/scipy-wheels/builds/39432735

[2021-06-03 05:03] #120 closed

[2021-10-02 21:59] charris opened #129 "travis and appveyor upload nightly builds to the wrong repository."
The builds are going to "multibuild-wheels-staging" instead of "scipy-wheels-nightly".

[2021-11-23 14:19] rgommers opened #146 "Stripping of wheels on pre-release bucket"
I noticed that all files on https://anaconda.org/scipy-wheels-nightly/scipy/files are quite large. They don't seem stripped, while the ones on PyPI are all almost 3x smaller. Doesn't matter too much, but it'd be nice if they were the same.

[2021-11-23 19:56] rgommers opened #148 "universal2 wheels need to be renamed to `...12_0...`"
This is a follow up to gh-147 that is needed. `arm64` were renamed to ensure they can only be installed on macOS >= 12.0, however `universal2` wheels need to be renamed in the same way.

[2021-12-10 01:05] tylerjereddy commented on #148
I'm going to reopen this because we'd like to use the upstream `multibuild` approach similar to https://github.com/MacPython/scipy-wheels/pull/150 with `MACOSX_DEPLOYMENT_TARGET` to rename/retarget the wheels.

That said, the evidence suggest our current "in house" approach is working in CI logs.

[2021-12-11 16:04] tylerjereddy opened #154 "MAINT: wheels too large to upload"
`scipy-1.8.0rc1-cp310-cp310-macosx_12_0_universal2.whl` is 111 MB and the upload command with `twine` sends back:

[code]

[2021-12-11 16:07] tylerjereddy commented on #154
@rgommers I will open an issue per instructions here about getting our file size limit bumped a bit: https://pypi.org/help/#file-size-limit

Perhaps there are steps we could take to reduce the sizes of the binaries, although even the non-universal2 versions are skating pretty close to the limit (`scipy-1.8.0rc1-cp310-cp310-macosx_10_9_x86_64.whl` is 92 MB).

[2021-12-11 16:13] tylerjereddy commented on #154
see: https://github.com/pypa/pypi-support/issues/1527

[2021-12-11 16:24] tylerjereddy commented on #154
our limit was bumped to 125 MB by PyPA

[2021-12-12 00:34] tylerjereddy opened #155 "1.8.0rc1 includes 11_0 and 12_0 arm64 thin wheels"
Not sure why yet, but this should be fixed for rc2 to only include `12_0` wheels.

[2021-12-12 00:55] tylerjereddy commented on #155
And I'm pretty sure that if you check PyPI you'll see that this was not the case for `1.7.3`..

[2021-12-12 11:41] rgommers commented on #154
Hmm yes, that is getting a little large. `universal2` should go away longer term, or we can just stop uploading it if it really becomes a problem. But 92 MB for the `x86_64` wheel is a bug, it looks like we didn't strip it correctly. For `1.7.3` it's only 33 MB: https://pypi.org/project/scipy/1.7.3/#files

[2021-12-12 11:47] rgommers commented on #154
The other option is we're installing way too much from one of the new submodules. Maybe large data files in `sparse/linalg/_PROPACK` - a quick check says it's ~150 MB on disk.

[2021-12-13 21:43] rgommers commented on #154
Okay, all the wheels are way too large and it is `_propack`. The Examples are absolutely huge. Unpacking one of the `1.8.0rc1` wheels, `_propack` is 165 MB out of 259 MB for the whole wheel.

xref https://github.com/scipy/scipy/pull/14433 for the PROPACK addition, I don't see any discussion on file sizes there (but the review is large, I could have missed it). @mckib2, @mdhaber what is going on he

[2021-12-13 21:59] tupui commented on #154
There was a small discussion starting here https://github.com/scipy/scipy/pull/14433#pullrequestreview-734302772

[2021-12-13 22:19] rgommers commented on #154
Hmm, https://github.com/scipy/scipy/pull/14433#issuecomment-902828640 by @dhermes suggests that that data was converted to `.npz`, but those `.npz` files are nowhere to be found and the `.ascii` files ended up in the repo.

[2021-12-13 22:30] tupui commented on #154
Strange indeed, the diff on the PR shows the npz (from the view I have on my phone).

[2021-12-13 23:12] mckib2 commented on #154
I remember taking a look at an individual one and finding it was comparable to some of the benchmark data we have, but I could have been mistaken and/or there are more examples than are reasonable to be included in a source distribution of scipy.  Quickest/easiest fix I can think of is removing the examples directories from [our PROPACK repo](https://github.com/scipy/PROPACK).  I believe there sho

[2021-12-13 23:22] mdhaber commented on #154
I think that's right. The NPZ file we discussed in gh-14433 is in the [benchmarks directory](https://github.com/scipy/scipy/tree/master/benchmarks/benchmarks/svds_benchmark_files). The large example files are not in the SciPy repo directly; they are in the PROPACK submodule.

[2021-12-13 23:47] tupui commented on #154
The last huge files I saw included were in the PR https://github.com/scipy/scipy/pull/15135

[2021-12-16 22:03] mckib2 commented on #154
The large PROPACK files have now been removed via gh-15214, will that be enough to resolve this issue?

[2021-12-16 22:30] rgommers commented on #154
Yes it will, thanks @mckib2!

[2021-12-16 22:30] #154 closed

[2021-12-19 22:29] tylerjereddy commented on #155
Fixed by gh-157.

[2021-12-19 22:29] #155 closed

[2021-12-20 21:03] tylerjereddy opened #159 "BUG: all 64-bit Windows wheel builds are failing"
- `1.8.0rc2` appveyor build matrix: https://ci.appveyor.com/project/scipy/scipy-wheels/builds/41957637
- from a `git diff ...` of the `1.8.0rc1` vs. `1.8.0rc2` Python 3.9 64-bit build logs, I find the following notable differences:
  - setuptools `59.5.0` vs. setuptools `60.0.1`
  - cython 0.29.25 vs. cython 0.29.26
  - pythran 0.10.0 vs 0.11.0
- I suspect we're getting prohibited versions of thos

[2021-12-20 21:35] rgommers commented on #159
Definitely pin `setuptools` - `60.0.0` re-enabled its vendored `distutils` copy, and that will almost certainly break things.

[2022-01-07 02:08] Yikun opened #161 "Add scipy wheels for pypy3.7 and pypy3.8 (aarch64)"
[code]

There are no wheels for pypy on aarch64, any change to add the support for it?

BTW, the scipy can installed by source successfully, but it's very slow.

[2022-01-07 04:04] #161 closed

[2022-01-07 06:42] rgommers commented on #161
Not any time soon I think. We've had PyPy in SciPy's CI, but it was too unstable. If that gets better we can add it back; it needs to be in CI for a while before considering wheels.

[2022-01-21 03:28] tylerjereddy opened #162 "BUG: cl.exe used instead of clang-cl.exe for Windows pythran building"
Ralf and I have seen this before in the main repo (in fact, we temporarily disabled Pythran on Azure Windows there IIRC).

Now I'm seeing the same thing for the `1.8.0rc3` wheel builds: https://ci.appveyor.com/project/scipy/scipy-wheels/builds/42265533 (Looking at the `3.10` builds specifically in analysis below).

The compile line switched from `clang-cl.exe` to `C:\Program Files (x86)\Microsoft

[2022-01-21 09:20] rgommers commented on #162
Hard coding the path to `clang-cl.exe` is worth a try. If that fails, then let's build without Pythran.

[2022-02-04 20:14] tylerjereddy opened #164 "MAINT: two kinds of appveyor errors"
Two different errors are currently preventing success for `1.8.0` final wheel builds on Appveyor (other services are all green already).

This one I haven't seen before, maybe related to connectivity:

[code]

This one we have seen plenty of times, but seems more common in this round of builds:

[code]

[2022-02-05 05:15] tylerjereddy commented on #164
I've tried restarting a few times, the connectivity issue is persisting though. I'll initiate one more rerun before I call it a night. Otherwise we may have to disable the test data upload (might be ok?) or try reporting to appveyor maybe.

[2022-02-05 19:45] tylerjereddy commented on #164
Looks like the problem is the upload to the anaconda staging area actually. I purged out the storage space in the anaconda staging area, and that didn't fix it, which doesn't surprise me since the other services are uploading just fine.

I'll probably have to see if I can either get a more verbose error message or look for clues by comparing how the other services do their uploads for us.

[2022-02-05 21:58] tylerjereddy commented on #164
I tried increasing the verbosity on the anaconda upload in Appveyor and there was no extra information.

I think I'll have to go for a more annoying solution for now--manually downloading the wheel artifacts from Appveyor (luckily, they do appear to be uploaded...). Always some kind of problem of course..

[2022-05-03 14:24] stonebig commented on #87
Pypy did some progress and is now at Python-3.8 compatibility, maybe is it worth a retry ?

[2022-05-08 14:32] tylerjereddy commented on #162
not a problem anymore after gh-167

[2022-05-08 14:32] #162 closed

[2022-05-16 16:55] tylerjereddy opened #168 "BUG: MacOS/Linux wheels are misnamed"
The wheel names start with `SciPy-` instead of `scipy`: https://anaconda.org/multibuild-wheels-staging/scipy/files

I observed identical behavior locally with `paver release` until I pinned `setuptools < 60.0.0`.

Windows just got setuptools pinned for other reasons, I'll try to see if I have an option to pin for the Linux/Mac builds as well (on the release wheels branch for now...). I'll probably

[2022-05-16 17:01] tylerjereddy commented on #168
I've tried pushing this right into `v1.8.x` in wheels repo:

[code]

[2022-05-16 17:47] rgommers commented on #168
Ugh, I guess we split off 1.8.x before adding more setuptools pins - it should be pinned everywhere, >= 60.0 is broken.

[2022-05-16 20:19] tylerjereddy commented on #168
My push had no effect:

[code]

Shortly above that first usage of the weird wheelhouse/naming structure in the log, `setuptools_scm-6.4.2` is installed, which follows a different numbering scheme it seems. I'll try to pin that to something older as well

[2022-05-16 20:22] tylerjereddy commented on #168
Err but SciPy `1.8.0` was released February 5 and didn't have this issue. `setuptools-scm 6.4.2` was released in January 2022, so there's no logical older pin to use really.

[2022-05-16 20:26] tylerjereddy commented on #168
The `setuptools` pin is already present in the branched `pyproject.toml` as well.

[2022-05-16 20:31] rgommers commented on #168
`setuptools_scm` shouldn't be relevant, it's only installed as a workaround for a `pytest-forked` issue (see commit ac96f14f73b14cb70fa9) and we're not using it for anything AFAIK.

[2022-05-18 02:32] tylerjereddy commented on #168
I'm still ~99 % sure the problem is with `setuptools`, it is the exact problem I had locally. I've tried to pin in more places and I'll let this diff run overnight. Part of the problem is that there are `pip install` commands that happen inside and outside of the virtualenvs (etc.) that `multibuild` uses, which makes it non-trivial to reason about sometimes.

[code]

[2022-05-18 12:19] tylerjereddy commented on #168
that did the trick, so back on track for releasing

[2022-06-24 12:21] #168 closed

[2022-06-28 09:47] rgommers opened #170 "Build wheels with Meson"
It looks like we all didn't think about switching to Meson in this repo. Wheels are not built with `pip install .` or similar in a way that invokes the `pyproject.toml` build hook. Instead, we're using this `build_wheel` Bash command: https://github.com/MacPython/scipy-wheels/blob/v1.9.x/config.sh#L6

I'll have a look at fixing this.

[2022-06-28 17:58] rgommers commented on #170
Trying to figure this out in gh-171

[2022-08-15 07:26] andyfaff opened #173 "Cross-compiled macosx_arm64: do the extensions that link with npymath.a (npyrandom.a) actually work?"
@matthew-brett, I have a question for a cross-compile scipy build for `macosx_arm64`. When I carry out a cross-build I get several warnings when an extension tries to link to `npymath.a`. This is because the installed version of numpy on the build computer is for x86_64.
[code]
The build warning is [here](https://github.com/andyfaff/scipy/runs/7833271179?check_suite_focus=true#step:8:1006).

Given

[2022-08-15 09:52] rgommers commented on #173
Detecting the correct `libnpymath.a` is also discussed at https://github.com/scipy/scipy/issues/16783. I am actively working on this. My goal is to get rid of `libnpymath.a` completely, that is what all my large cleanup PRs for `scipy.special` last week are working towards.

I'll have a look at why the current macOS arm64 builds do work (because they do, people use wheels on PyPI just fine). My gu

[2022-08-15 11:18] rgommers commented on #173
What is happening here is that linking in `libnpymath` is broken, however `distutils` happily ignores that and continues. When importing an extension, the correct `libnpymath` symbols are already loaded when numpy is imported, so things happen to work. I verified this by creating a clean conda env, installing the `arm64` scipy wheel from PyPI, and then `cd`'ing into `site-packages/scipy/special` a

[2022-08-15 23:27] #173 closed

[2022-08-26 20:10] thomasjpfan opened #175 "SciPy nightly builds are failing because pooch is not installed"
The [nightly CI is failing](https://dev.azure.com/numpy/numpy/_build/results?buildId=25626&view=logs&j=d0d954b5-f111-5dc4-4d76-03b6c9d0cf7e&t=74b99ac4-969e-5d5f-3589-394e967bbd0f) because pooch is not installed.

Side note: Should test that require the network run by default? I think some package managers do not allow network access when testing a package.

[2022-08-26 21:09] tylerjereddy commented on #175
FWIW, we're about to switch over to `cibuildwheel` for `1.9.2` onward, if all goes well, so maybe this will get managed over in the main repo.

From a quick check our new setup for `cibuildwheel`  in main repo `pyproject.toml` has `before-test = "pip install -r {project}/tools/wheels/test_requirements.txt"`

Where `test_requirements.txt` has `pooch` in it over in the main repo. So, probably "ok" o

[2022-08-26 21:49] thomasjpfan commented on #175
Thank you for the information. It looks like this issue will be resolved on the main repo.

[2022-08-26 21:49] #175 closed

[2022-08-27 10:00] rgommers commented on #175
Yes, we're switching over. We should disable the nightly runs here though, no point keeping those going (also we don't want competing uploads to the Anaconda bucket. I'll open a PR for that.

[2022-08-28 17:00] rgommers commented on #175
done in gh-176